html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fcfcfc; /* 淡灰色 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-descriptions-item-content {
  word-break: break-word !important;
  white-space: nowrap;
}

.ant-list-item {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #fafafa !important;
  }
}

@media (max-width: 768px) {
  .ant-col-sm-8 {
    margin-bottom: 24px;
  }
  .ant-row {
    flex-direction: column;
  }
  
  .ant-col-flex {
    width: 100% !important;
    border-right: none !important;
    border-bottom: 1px solid #f0f0f0;
  }
}

:root {
  --navbar-height: 64px;
  --logo-horizontal-padding: 16px;
}

.ant-layout-header {
  height: var(--navbar-height) !important;
  line-height: var(--navbar-height) !important;
}

.logo-menu-item {
  padding: 0 var(--logo-horizontal-padding) !important;
  
  img {
    height: var(--navbar-height);
  }
}

.logo-menu-item:hover {
  background: transparent !important;
}
.logo-menu-item::after {
  display: none !important;
}

.spacer-col .ant-table-cell {
  padding: 0 !important;
  border: none !important;
}